.App {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  background-color: transparent;
  padding: 1rem;
  width: 100%;
  margin-top: auto;
  font-family: 'PT Mono', monospace;
}